/* GRANDMASTER FLASH, footer, background */

header {
  text-align: center;
}

#logo a .grandmaster {
  font-family: 'Fugaz One', cursive;
}
#logo a .flash {
  font-family: 'Trade Winds', cursive;
}

footer {
  text-align: center;
  font-family: 'Alef', sans-serif;
  color:  #444;
}

body {
  background-color: #DCDCDC;
}

/* Container */

.container {
  position: relative;
  text-align: center;
  width: 600px;
  min-height: 400px;
  overflow: scroll;
  margin: 0 auto;
  padding: 20px;
  border: 3px solid #888;
  border-radius: 10px;
  background-color: white;
}


/* Pick a deck */

ol {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px;
  width: 400px;
}

li a {
  width: 200px;
  float: left;
  text-decoration: none;
  color: #333;
}

#logout, #history, #deck span {
  position: absolute;
  margin: 10px;
  bottom: 0%;
}

#logout { left: 0%; }
#history { right: 0%; }
#deck span { margin-left: -50%; }


/* History */

#logo, #logo a {
  margin: 20px 0;
  font-family: Georgia;
  font-size: 60px;
  font-weight: 700;
  font-style: none;
  text-decoration: none;
  color: #222;
}



input {
  width: 20%;
}

label {
  width: 5%;
}

#front {
  font-family: 'Fresca', sans-serif;
  font-size: 30px;
  color: #444;
}

#back {
  font-family: 'Trade Winds', cursive;
  font-size: 46px;
  font-weight: 100;
  text-transform: uppercase;
  color: #222;

}

#input, .feedback {
  position: relative;
  width: auto;
  margin-top: 30%;
}

#input input, .feedback input {
  margin: 10px 10px;
}
