.container {
  position: relative;
  text-align: center;
  width: 600px;
  min-height: 200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px dotted black;
}

header {
  text-align: center;
}

ol {
  list-style: none;
  padding-left: 0;
  margin-right: 20%;
}

#logo, #logo a {
  margin: 20px 0;
  font-family: Georgia;
  font-size: 60px;
  font-weight: 700;
  font-style: none;
  text-decoration: none;
  color: #222;
}
#logo a .grandmaster {
  font-family: 'Fugaz One', cursive;
}
#logo a .flash {
  font-family: 'Trade Winds', cursive;
}

footer {
  text-align: center;
}

input {
  width: 20%;
}

label {
  width: 5%;
}

#logout {
  position: absolute;
  margin: 10px 10px;
  left: 0%;
  bottom: 0%;
}

#input, .feedback {
  position: relative;
  width: auto;
  margin-top: 100%;
}

#input input, .feedback input {
  margin: 10px 10px;
  /*bottom: 0%;*/
}
