.container {
  position: relative;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;

}

header {
  text-align: center;
}

#logo, #logo a {
  margin: 20px 0;
  font-family: Georgia;
  font-size: 36px;
  font-weight: 700;
  font-style: none;
  text-decoration: none;
  color: #222;
}

footer {
  text-aligngn: center;
}

input {
  width: 20%;
}

label {
  width: 5%;
}
