<div id="login">
<h2>Login</h2>
<form action='/login' method='post'>
  <label for="username">Username:</label>
  <input type="text" name="username" value="dbc">
  <label for="password">Password:</label>
  <input type="text" name="password" value="pw"> 
  <input type="submit" value="LOGIN">
</form>
</div>
