<div id="signup">
<h2>Signup</h2>
<form action='/signup' method='post'>
  <label for="username">Username:</label>
  <input type="text" name="username" value="username">
  <label for="email">Email:</label>
  <input type="text" name="email" value="email">
  <label for="password">Password:</label>
  <input type="text" name="password" value="password"> 
  <input type="submit" value="LOGIN">
</form>
</div>
