<h1>Welcome to Flash Cards</h1>
<h2>Pick a deck:</h2>

<div id="deck">
  <ol>
    <% @deck.each do |deck| %>
      <li> 
        <a href="/deck/<%= deck.id %>"><%= deck.name %></a>
      </li>
    <% end %>
  </ol>
  <% unless current_user %>
    <%= erb :_login %>
    <%= erb :_signup %>
  <% end %>
</div>

